<!DOCTYPE html>
<html>
<head>
<style>

#intro{
    background-color: lightblue;
}

</style>
</head>

<body>

<div  data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @employee.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">

      <input input type="hidden" name="id" value="<%= @employee.object %>"/>

      
          
            <label for="employee[name]" class="fieldLabel">Name</label>
            <input type="text" id="employee[name]" name="employee[name]" <%= placeholder("Name") %> />
          
      
          
            
            
            <label for="employee[company]" class="fieldLabel">Company</label>
            <br>
      
              <select name="employee[company]">
                  <option value="Facebook" selected>Facebook</option>
                  <option value="Twitter">Twitter</option>
                  <option value="Google">Google</option>     
              </select>
        
          <br>
      
                <label for="employee[address]" class="fieldLabel">Address</label>
                <br>
     
             <textarea rows="5" cols="30" name= 
"employee[address]" > </textarea>
<br>
         

            
          
      
          
            <label for="employee[age]" class="fieldLabel">Age</label>
            <input type="text" id="employee[age]" name="employee[age]" <%= placeholder("Age") %> />
         
      
          
            <label for="employee[gender]" class="fieldLabel">Gender</label>
            <br>
            <br>
            
            <input type="radio" name="employee[gender]" value="male" checked> Male<br>
            <input type="radio" name="employee[gender]" value="female"> Female<br>
            <input type="radio" name="employee[gender]" value="other"> Other<br>

            
         
      
         
            <label for="employee[salary]" class="fieldLabel">Salary</label>
            <input type="text" id="employee[salary]" name="employee[salary]" <%= placeholder("Salary") %> />
          
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
</body>
</html>

